:root{
    --dark: #1f1f1f;
    --off-white: #f6f6f6;
    --white: #fff;
    --blue-rey: #005fff;
    --blue-rey: rgb(0, 94, 255);
    --colorCeleste: rgb(28, 137, 252);
    --grey-p: #3d4f58;
    --dt-darkest: #121a21;
    --body-bg-dark: #192229;
    --blue-800: #063251;
    --nav-grey: rgba(117, 117, 117, 1);
    --bluish-purple: rgb(64,78,237);
    --not-quite-dark: #23272a;
    --blue-300: #88c8f7;
    --blue-800: #063251;
    --letter-color: #ffffff;
    --body-bg: #fbfdfe;
    --dark-blue: rgb(24, 43, 194);
    --colorFondoGris: #e8ebec8a;
}
@font-face {
    font-family: Til;
    src: url('./src/fonts/Amaranth-Regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-image: url(img/antony.png); */
    background-color: #f1f1f1;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
/* .empty-section{
    height: 72px;
    width: 100%;
} */
.s-fixed{
    z-index:100;
    position:fixed;
    width:100%;
}

#navbar-section{
    height: 72px;
    width:100%;
    background-color: var(--colorFondoGris);
}
.navbar{
    height: 100%;
}
.logo__container{
    height: 40px;
    width: 200px;
    transform: translateX(6rem);
    padding: 2px;
}
.logo__container-logo{
    height: 35px;
    width: 35px;
    float: left;

}
.logo__container-title{
    width: 100px;
    float: right;
    transform: translate(-50px, 2px);
}
#logo__container-a{
    font-size: 21px;
    font-weight: 700;
    font-style: italic;
    color: var(--dark);
    
}

.navbar-nav{
    transform: translateX(35rem);
}

.nav_link{
    margin-left: 20px;
    margin-right: 20px;
    color: var(--nav-grey);
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    line-height: 72px;
    color: rgba(117, 117, 117, 1);
    display: block;
    font-weight: 500;
    position: relative;
    transition: all .5s ease;
}
.nav_link:hover{
    color: var(--not-quite-dark);
    text-decoration: underline;
}

/* Inicio section */
#inicio{
    width: 100%;
    height: 550px;
    background-color:  var(--colorFondoGris);
    margin-bottom: 86px;
}
.main-container{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 0px;
    transform: translateY(186px);
    text-align: center;
    z-index: 1;
}
.main-container__h3{
    color: var(--dt-darkest);
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.main-container__h1{
    font-size: 65px;
    font-weight: 800;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 13px 0;
    padding: 0;
    margin-bottom: 30px;
}
.main-container__h1 > span{
    color: var(--colorCeleste);
}
.main-container__h6{
    color: rgb(51 51 51);
    font-weight: normal;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

/* Sobre mi section */
#sobre_mi{
    background-color: var(--white);
    height: 1200px;
}
.container-h1{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #252525;
    margin: 0 0 25px;
    padding-bottom: 13px;
    letter-spacing: -1.2px;
    position: relative;
    cursor: default;
    text-align: center;
    
}

.about__container-h1{
    margin-top: 70px;
    transform: translateX(120px);
}

.about__info-container{
    margin-top: 40px;
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(120px);
}

.about__foto{
    flex: 0 0 23%;
    max-width: 33%;
    width: 320px;
    height: 300px;
    margin-right: 35px;
    /* float: left; */
}

.about__foto-img{
    width: 100%;
    display: block;
    box-shadow: 6px 6px 30px #d1d9e6;
    border-radius: 20px;
    
}

.about__info{
    /* margin-left: 120px; */
    /* float:left; */
    flex: 0 0 72%;
    max-width: 72%;
}

.about__info-h3{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #333;
    margin-bottom: 20px;
}

.about__info-h4{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #333;
    margin-bottom: 20px;
}

.about__info-h4 > span{
    color: var(--colorCeleste);
}

.info__extra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list {
    /* flex: 0 0 calc(50% - 15%);
    max-width: calc(50% - 15%); */
    flex: 0 0 100% ;
    max-width: 100% ;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.list > label{
    font-weight: 700;
}

.list > p{
    transform: translateX(20px);
}

/* Habilidades */
.habilidades__container{
    width: 100%;
    height: 650px;
    padding: 50px 120px;
    text-align: center
}

.habilidades__container-skill{
    display: flex;
    flex-wrap: wrap;
    
}

.skill-box__container{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-box{
    padding: 7px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    background-color: rgb(232 235 236 / 70%);
    border: 1px solid #dbdbdb;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    transition: all .3s ease;
}

.skill-box:hover {
    background-color: var(--colorFondoGris);
    box-shadow: 0px 0px 25px rgb(0 0 0 / 12%);
    border: 1px solid rgb(0 0 0 / 12%);
}

.skill-box__icon{
    display: flex;
    padding: 5px;
    margin-right: 14px;
    border-radius: 22px;
    width: 62px;
    height: 62px;
}

.icons{
    width: 100%;
    height: 100%;
}

.skill-box__text{
    width: 80%;
    text-align: left;
    transform: translateY(7px);
}

.skill-box__h6{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    /* margin: 0 0 8px; */
    margin: 0 0 2px;
}

.skill-box__p{
    color: #747474;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* Proyectos */
#proyectos{
    width: 100%;
    height: 700px;
    background-color: var(--colorFondoGris);
    text-align: center;
}
.project__container{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #252525;
    margin: 0 0 25px;
    padding: 50px 120px;
    letter-spacing: -1.2px;
    position: relative;
    cursor: default;
}
.project-h1{
    margin: 30px 0px 50px 0px;
}

.item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
}

.inner {
    position: relative;
}

.overlay {
    position: absolute;
    cursor: default;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 1px solid rgb(0 0 0 / 22%);
    box-shadow: 0 0 32px -8px #464646;
    background-color: rgba(227, 232, 234, .75);
    backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    z-index: 1;
    border-radius: 18px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}

.item, .inner > img {
    width: 100%;
    display: block;
    border-radius: 18px;
    /* border: 1px solid rgb(51 51 51 / 18%); */
    border: 1px solid rgb(64,78,237 / 18%);
}

.item:hover, .overlay:hover {
    opacity: 1;
}

.project-h4{
    /* font-size: 20px; */
    text-transform: uppercase;
    display: inline-block;
    font-family: 'Mulish', sans-serif;
    padding-bottom: 5px;
    font-size: 23px;
    color: #3b3938;
    font-weight: 900;
    position: relative;
    -webkit-font-smoothing: antialiased;
    animation: galleryText .8s ease;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: galleryText;
}

.project-p{
    font-size: 14px;
    color: #3b3938;
    padding: 10px 0;
    letter-spacing: .5px;
    -webkit-font-smoothing: antialiased;
    font-weight: normal;
}

.project-a, .project-a:hover{
    border: 2px solid #3b3938;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 20px;
    color: #3b3938;
    border-radius: 8px;
    cursor: pointer;
    transition: all .5s ease;
    text-decoration: none;
}

.link-icon{
    margin-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-gallery {
    flex: 0 0 100%;
    justify-content: center;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* Contact me*/
#contact_me{
    cursor: default;
    padding: 70px 80px;
    background-color: #232323;
    height: 360px;
}


.contact_me-title{
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    font-size: 28px;
    color: #fcfcfc;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact_me-text{
    text-align: center;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 400;
    padding-top: 1rem;
    color: #fcfcfc;
    margin-bottom: 40px;
}

.icons__container{
    width: 300px;
    transform: translate(470px,80%);
}

.social-icons{
    color: var(--white);
    margin-right: 40px;
    font-size: 25px;
}

.social-a{
    text-decoration: none;
    color: #232323;
}

/* Footer */
footer{
    cursor: default;
    background-color: #232323;
    /* background-color: var(--colorCeleste); */
    padding: 15px;
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;
}

.footer__container{
    max-width: 1140px;
    margin: auto;
}

.footer-p{
    /* color: #838383; */
    color: var(--white);
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 16px;

}

.mobile-nav{
    display: none;
}

/*  Responsive Design */
/*Mobile*/
@media only screen and (max-width:795px){
    #navbar-section{
        height: 90px;
        width:100%;
        background-color: var(--colorFondoGris);
    }
    .navbar{
        height: 100%;
        width: 100%;
    }
    .mobile-nav{
        position: fixed;
        bottom: 8px;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        z-index: 122;
    }
    .nav__block_ux {
        display: flex;
        width: 420px;
        border-radius: 20px;
        border: 1px solid rgb(0 0 0 / 12%);
        background-color: rgb(232 235 236 / 70%);
        backdrop-filter: saturate(180%) blur(20px);
        box-shadow: 0px 0px 25px rgb(0 0 0 / 12%);
    }
    .nav-li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        min-width: 50px;
        overflow: hidden;
        white-space: nowrap;
    }
    .nav-li > a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container__fluid{
        padding: 10px, 0px;
    }
    .logo__container{
        height: 100%;
        padding: 4px 0px;
    }
    .about__info-container{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        transform: translate(0px, 0px);
    }
    #sobre_mi{
        height: 2500px;
    }
    .about__foto{
        flex: 0 0 45%;
        margin: auto;
        max-width: 42%;
        height: 90%;
    }
    .about__foto-img{
        border-radius: 50%;
        height: 35vw;
        border: 1px solid #4e5e79;
    }
    .about__info{
        margin-top: 50px;
        text-align: center;
        transform: translateX(20%);
    }

    .list > label{
        transform: translateX(80%);
        margin: 20px 0px;
    }
    
    .list > p{
        transform: translateX(0px);
    }
    
    .habilidades__container{
        height: 2000px;
        padding: 50px 50px;
        text-align: center
    }
    .habilidades__container-skill{
        display: flex;
        flex-wrap: wrap;
    }
    .skill-box__container{
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skill-box__icon{
        display: flex;
        padding: 13px;
        margin-right: 18px;
        border-radius: 22px;
    }
    .skill-box__h6{
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin: 0 0 2px;
    }
    .skill-box__p{
        color: #747474;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    #proyectos{
        height: 1100px;
    }
    .project__container{
        margin: 0 0 25px;
        padding: 50px 15px;
    }
    .item{
        position: relative;
        padding: 8px;
    }
    .portfolio-gallery, .item, .project-img {
        width: 100%;
        display: block;
        border-radius: 18px;
    }
    .project-p{
        margin: -10px 0px 0px 0px;
    }
    #contact_me{
        height: 480px;
        padding: 50px 50px;
    }
    .icons__container{
        transform: translate(10%, 10px);
    }
}

@media only screen and (max-width: 445px){
    .nav__block_ux {
        width: 94%;
    }
}

@media only screen and (max-width: 460px){
    .skill-box__container, .skill-box {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (min-width: 461px) and (max-width: 550px){
    .skill-box__container, .skill-box {
        flex: 0 0 90%;
        max-width: 90%;
    }
}

@media only screen and (min-width: 551px) and (max-width: 640px){
    .skill-box__container, .skill-box {
        flex: 0 0 70%;
        max-width: 70%;
    }
}

@media only screen and (min-width: 641px) and (max-width: 830px){
    .skill-box__container, .skill-box {
        flex: 0 0 60%;
        max-width: 60%;
    }
}

@media only screen and (min-width: 831px) and (max-width: 1080px){
    .skill-box__container, .skill-box {
        flex: 0 0 43%;
        max-width: 43%;
    }
}

@media only screen and (max-width: 500px){
    .portfolio-gallery, .item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
    
@media only screen and (min-width: 501px) and (max-width: 670px){
    .portfolio-gallery, .item {
        flex: 0 0 68%;
        max-width: 68%;
    }
}
    
@media only screen and (min-width: 671px) and (max-width: 950px){
    .portfolio-gallery, .item {
        flex: 0 0 47%;
        max-width: 47%;
    }
}
@media only screen and (max-width: 670px){
    .project-h4{
        font-size: 23px;
    }
}

@media only screen and (min-width: 671px) and (max-width: 720px){
    .project-h4{
        font-size: 20px;
    }
}

@media only screen and (min-width: 721px) and (max-width: 950px){
    .project-h4{
        font-size: 23px;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1030px){
    .project-h4{
        font-size: 20px;
    }
}
