:root{
    --dark: #1f1f1f;
    --off-white: #f6f6f6;
    --white: #fff;
    --blue-rey: #005fff;
    --blue-rey: rgb(0, 94, 255);
    --colorCeleste: rgb(28, 137, 252);
    --grey-p: #3d4f58;
    --dt-darkest: #121a21;
    --body-bg-dark: #192229;
    --blue-800: #063251;
    --nav-grey: rgba(117, 117, 117, 1);
    --bluish-purple: rgb(64,78,237);
    --not-quite-dark: #23272a;
    --blue-300: #88c8f7;
    --blue-800: #063251;
    --letter-color: #ffffff;
    --body-bg: #fbfdfe;
    --dark-blue: rgb(24, 43, 194);
    --colorFondoGris: #e8ebec8a;
}
@font-face {
    font-family: Til;
    src: url('./src/fonts/Amaranth-Regular.ttf');
}
*{
    margin: 0px;
    padding: 0px;
}
#navbar-section{
    height: 72px;
    background-color: var(--colorFondoGris);
}
.navbar{
    height: 100%;
    
}
.logo__container{
    height: 40px;
    width: 200px;
    transform: translateX(6rem);
    padding: 2px;
}
.logo__container-logo{
    height: 35px;
    width: 35px;
    float: left;

}
.logo__container-title{
    width: 100px;
    float: right;
    transform: translate(-50px, 2px);
}
#logo__container-a{
    font-size: 21px;
    font-weight: 700;
    font-style: italic;
    color: var(--dark);
    
}

.navbar-nav{
    transform: translateX(35rem);
}

.nav_link{
    margin-left: 20px;
    margin-right: 20px;
    color: var(--nav-grey);
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    line-height: 72px;
    color: rgba(117, 117, 117, 1);
    display: block;
    font-weight: 500;
    position: relative;
    transition: all .5s ease;
}
.nav_link:hover{
    color: var(--not-quite-dark);
}

/* Inicio section */
#inicio{
    width: 100%;
    height: 550px;
    background-color:  var(--colorFondoGris);
    margin-bottom: 86px;
}
.main-container{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 0px;
    transform: translateY(186px);
    text-align: center;
    z-index: 1;
}
.main-container__h3{
    color: var(--dt-darkest);
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}

.main-container__h1{
    font-size: 65px;
    font-weight: 800;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 13px 0;
    padding: 0;
    margin-bottom: 30px;
}
.main-container__h1 > span{
    color: var(--colorCeleste);
}
.main-container__h6{
    color: rgb(51 51 51);
    font-weight: normal;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    margin-bottom: 30px;
}

/* Sobre mi section */
#sobre_mi{
    background-color: var(--white);
    height: 1200px;
}
.container-h1{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #252525;
    margin: 0 0 25px;
    padding-bottom: 13px;
    letter-spacing: -1.2px;
    position: relative;
    cursor: default;
    text-align: center;
    
}

.about__container-h1{
    transform: translateX(120px);
}

.about__info-container{
    margin-top: 40px;
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    transform: translateX(120px);
}

.about__foto{
    flex: 0 0 23%;
    max-width: 33%;
    width: 320px;
    height: 300px;
    margin-right: 35px;
    /* float: left; */
}

.about__foto-img{
    width: 100%;
    display: block;
    box-shadow: 6px 6px 30px #d1d9e6;
    border-radius: 20px;
    
}

.about__info{
    /* margin-left: 120px; */
    /* float:left; */
    flex: 0 0 72%;
    max-width: 72%;
}

.about__info-h3{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px;
    color: #333;
    margin-bottom: 20px;
}

.about__info-h4{
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px;
    color: #333;
    margin-bottom: 20px;
}

.about__info-h4 > span{
    color: var(--colorCeleste);
}

.info__extra{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list {
    flex: 0 0 calc(50% - 15%);
    max-width: calc(50% - 15%);
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
}

.list > label{
    font-weight: 700;
}

.list > p{
    transform: translateX(20px);
}

/* Habilidades */
.habilidades__container{
    width: 100%;
    height: 650px;
    padding: 50px 120px;
    text-align: center
}

.habilidades__container-skill{
    display: flex;
    flex-wrap: wrap;
    
}

.skill-box__container{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-box{
    padding: 7px;
    flex: 0 0 calc(33.33% - 20px);
    max-width: calc(33.33% - 20px);
    background-color: rgb(232 235 236 / 70%);
    border: 1px solid #dbdbdb;
    margin: 10px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    transition: all .3s ease;
}

.skill-box:hover {
    background-color: var(--colorFondoGris);
    box-shadow: 0px 0px 25px rgb(0 0 0 / 12%);
    border: 1px solid rgb(0 0 0 / 12%);
}

.skill-box__icon{
    display: flex;
    padding: 5px;
    margin-right: 14px;
    border-radius: 22px;
    width: 62px;
    height: 62px;
}

.icons{
    width: 100%;
    height: 100%;
}

.skill-box__text{
    width: 80%;
    text-align: left;
    transform: translateY(7px);
}

.skill-box__h6{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    /* margin: 0 0 8px; */
    margin: 0 0 2px;
}

.skill-box__p{
    color: #747474;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* Proyectos */
#proyectos{
    width: 100%;
    height: 900px;
    background-color: var(--colorFondoGris);
    text-align: center;
}
.project__container{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Mulish', sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #252525;
    margin: 0 0 25px;
    padding: 50px 120px;
    letter-spacing: -1.2px;
    position: relative;
    cursor: default;
}